<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h3><%=title %> Page</h3>
        <p><strong>Thien Ngoc Duy Pham</strong></p>
        <ul class="list-unstyled">
        <li>I am Thien Ngoc Duy Pham</li>
        <li>I am studying to become a Software Eng Technician</li>
      <li><a class="btn btn-link" href="Assets/documents/cv.pdf" role="Button">Resume</a></li>
    </ul>
        <img src="Assets/images/avatar.jpg" class="img-rounded" alt="Photo" style="width:30%">
        
      </div>
    </main>
<%- include partials/bottom_nav.ejs %> 
  
<%- include partials/footer.ejs %> 