<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %> 
<!-- Main Content -->
<div class ="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h3>List of Business</h3>
         
        <a href="/business/add" class="btn btn-primary" role="button">
        <i class ="fas fa-plus-circle"></i> Add a business
     
        </a>
        <br>
  
        <br/>
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <!--HEader row-->
          <thead>
          <tr>
            <th class="text-center">Contact Name</th>
            <th class="text-center">Contact Number</th>
            <th class="text-center">Contact Email</th>
            <th class="text-center">Modify</th>
            
          </tr>
        </thead>
        <tbody>
          <!-- Templet row-->
          <% for (let count = 0; count < Business.length; count++) { %>
            <tr> 
              <td class="text-centre "><%=Business[count].name %></td>
              <td class="text-centre "><%=Business[count].number %></td>
              <td class="text-centre "><%=Business[count].email %></td>
              <td class="text-center">
                <a href="/business/edit/<%= Business[count]._id %>" class="btn btn-primary btm-sm"><i class="fas"></i>
                 Edit</a>
                <a href="/business/delete/<%= Business[count]._id %>" class="btn btn-danger btm-sm"><i class="fas"></i>
                 Delete</a>
            </td>         
            </tr>
            <% } %>
        </tbody>
        </table>
      </div>
    </div>
</div>    

<%- include ../partials/bottom_nav.ejs %> 
  
<%- include ../partials/footer.ejs %> 